h2, h2 + p {
	display: inline;
}


#equipped-display, #unequipped-display {
	padding: 10px;
	border: solid black 1px;
}


#approach-tree {
	font-size: 200%;
	/*margin: 40px;*/
}

/*#more-info {
	display: none;
}

#more-info + p {
	display: none;
}

#more-info:checked + p {
	display: block;
}


#more-info + label {
	background-color: #ddd;
	border-radius: 5px;
	padding: 5px;
	cursor: ;
}

#more-info:checked + p {
	display: block;
}*/